/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 24px;
	}
	p {
		font-size: 18px;
	}
	form {
		margin: 20px auto;
		max-width: 300px;
	}
	label {
		display: block;
		font-size: 18px;
		margin-bottom: 10px;
	}
	input[type="text"] {
		font-size: 18px;
		padding: 10px;
		width: 100%;
	}
}
